.article {
  cursor: pointer;
}
.title {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--heading);
}
.description {
  font-size: 1.125rem;
  color: var(--body);
  margin: 0.8rem 0 1.5rem 0;
}
.infos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--info);
}
.date {
  display: flex;
  align-items: center;
}
.icon {
  margin-right: 0.45rem;
  display: flex;
  align-items: center;
}

.author {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
